@import "./variables";

* {
  font-family: "Roboto", sans-serif;
  color: #383743;
}

body {
  background-color: $background-color;
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
}

input {
  color: #403e4d;
}
