#header {
  height: 120px;
  width: 100vw;
  background-color: #ee4c77;
  background-image: linear-gradient(#ee4c77, #bb2a51);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 576px) {
    height: 150px;
  }

  .logo-header {
    width: 180px;
    margin-left: 25px;
    margin-right: auto;
    @media (min-width: 576px) {
      width: 240px;
      margin: 0 auto;
    }
  }

  .header-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .search-button {
    margin-right: 20px;
    @media (min-width: 576px) {
      position: absolute;
      right: 30px;
    }
  }

  .search-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    flex-grow: 1;
    font-size: 1.8rem;
    width: 100px;
    &::placeholder {
      color: #991237;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: #fff;
  }

  .header-text {
    color: #fff;
    font-size: 1.8rem;
  }

  .logout {
    position: absolute;
    left: 50px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
  }
}
