@import "./variables";

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-wrapper {
  max-width: 400px;
  padding: 0 20px;
  .input-group-prepend {
    background-color: $background-color;
    border-bottom: 1px solid #383743;
  }
  .login-input {
    background-color: $background-color;
    border: none;
    border-bottom: 1px solid #383743;
    border-radius: 0;
    outline: none;
    box-shadow: none;
  }
  .validation-error-alert {
    position: absolute;
    right: 5px;
    background-color: #ff0f44;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #fff;
    align-self: center;
    text-align: center;
    z-index: 100;
  }
  .validation-error-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
    color: #ff0f44;
    font-size: 0.8rem;
    text-align: center;
  }
  .validation-error {
    border-bottom: 1px solid #ff0f44;
  }
}

.logo {
  width: 250px;
}
