@import "./variables";

#login-wrapper {
  max-width: 370px;
  padding: 0 20px;
  @media (min-width: 992px) {
    max-width: 445px;
  }

  .logo {
    width: 270px;
  }

  .input-group-prepend {
    background-color: $background-color;
    border-bottom: 1px solid #383743;
  }

  .login-input {
    background-color: $background-color;
    border: none;
    outline: none;
    border-bottom: 1px solid #383743;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.3rem;
    color: #403e4d;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
    -webkit-text-fill-color: #403e4d;
  }

  .eye {
    border-bottom: 1px solid #383743;
    object-fit: contain;
    width: 30px;
    cursor: pointer;
  }

  .validation-error-alert {
    position: absolute;
    right: 5px;
    background-color: #ff0f44;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #fff;
    align-self: center;
    text-align: center;
    z-index: 100;
    font-size: 16px;
  }

  .validation-error-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
    color: #ff0f44;
    font-size: 0.8rem;
    text-align: center;
  }

  .validation-error {
    border-bottom: 1px solid #ff0f44;
  }

  .btn-blue {
    background-color: #57bbbc;
    color: #fff;
  }

  .btn-gray {
    background-color: #748383;
    color: #fff;
  }
}
